!!! 5
%html{html_attrs}
%head
	%title Seurrat

	%script{:type => 'text/javascript', :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}	
	%script{:type => 'text/javascript', :src => "http://js.pusherapp.com/1.4/pusher.min.js"}
	%script{:type => 'text/javascript', :src => "/javascripts/ajax.js"}
	%script{:type => 'text/javascript', :src => "/javascripts/seurrat.js"}	
%body

	<button id="draw">draw</button>
	<img src="/images/distance.jpg" />
	<canvas id="canvas" height="200" width="300">nope</canvas>